* {
    margin: 0;
    padding: 0;
}

.drop-area {
    border: 5px dotted #ccc;
    background: #f3f3f3;
    border-radius: 20px;
    width: 700px;
    height: 200px;
    font-family: sans-serif;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.drop-area.active {
    border-color: cornflowerblue;
    background: #81a7ec;
}
.drop-area-title ::selection {
    border-color: cornflowerblue;
    background: #81a7ec;
}
