.drag-and-drop-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    max-width: 700px;
    margin: 10px auto;
}

.drop-area {
    border: 5px dashed #ccc;
    background: #f3f3f3;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
    user-select: none; 
}

.active {
    background: #81a7ec;
    transition: background-color 0.3s, border-color 0.3s;
}

.file-list {
    width: 100%;
    font-family: sans-serif;
    margin: auto;
}

.group {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.file-input-button {
    border: 5px dashed #ccc;
    
}

.button-container {
    width: 100%;
    padding: 5px;
    margin: auto;
    text-align: right;
}