.drag-and-drop-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    max-width: 700px;
    margin: 10px auto;
    font-family: sans-serif;
}

.drop-area {
    border: 5px dashed #ccc;
    background: #f3f3f3;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    padding: 20px;
    text-align: center;
    user-select: none; 
}

.active {
    background: #81a7ec;
    transition: background-color 0.3s, border-color 0.3s;
}

.file-list {
    width: 100%;
    font-family: sans-serif;
    margin: auto;
}

.group {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
}

.file-input-button {
    border: 5px dashed #ccc;
    font-size: 18px;
    cursor: pointer;
}

.file-input-button:hover {
    background: #81a7ec;
    transition: background-color 0.3s, border-color 0.3s;
}

.inf-container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    margin: auto;
    user-select: none; 
}

.clear-file-list-button {
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.clear-file-list-button:hover {
    background: #81a7ec;
    transition: background-color 0.3s, border-color 0.3s;
}

.remove-button {
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
}

.remove-button:hover {
    color: darkred;
}

.file-list-element {
    display: flex;
    align-items: center;
}